{% extends '../base.html' %}

{% block css_link %}
	<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="board">
		<form id="search_form" action="" method="post">
			<input type="text" id="kwd" name="kwd" value="">
			<input type="submit" value="찾기">
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>&nbsp;</th>
			</tr>
			{% load mathfilters %}
			{% for board in boardlist %}
				<tr>
					<td>{{ boardlist | length | sub:forloop.counter | add:1 }}</td>
					<td style="text-align:left; padding-left:{{ board.depth | sub:1 | mul:20 }}px">
						{% if board.depth >= 2 %}
							<a href="/board/view?no={{ board.no }}"><img src="/assets/images/reply.png">{{ board.title }}</a>
						{% else %}
							<a href="/board/view?no={{ board.no }}">{{ board.title }}</a>
						{% endif %}
					</td>
					<td>{{ board.name }}</td>
					<td>{{ board.hit }}</td>
					<td>{{ board.reg_date }}</td>
					<td><a href="/board/delete?no={{ board.no }}" class="del">삭제</a></td>
				</tr>
			{% endfor %}
		</table>

		<!-- pager 추가 -->
		<div class="pager">
			<ul>
				{% for p in range(1, 5) %}
					<li><a href="">◀</a></li>
					<li><a href="">{{ p }}</a></li>
					<li class="selected">{{ p }}</li>
					<li><a href="">{{ p }}</a></li>
					<li>{{ p }}</li>
					<li>{{ p }}</li>
					<li><a href="">▶</a></li>
				{% endfor %}
			</ul>
		</div>
		<!-- pager 추가 -->
		<div class="bottom">
			{% if request.session.authuser != None %}
				<a href="/board/writeform" id="new-book">글쓰기</a>
			{% else %}
				<a href="/user/loginform" id="new-book">글쓰기</a>
			{% endif %}
		</div>
	</div>
{% endblock %}